/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/ManageDrivers/ManageDrivers.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.ManageDrivers_container__o0UeV{
    margin-top: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.ManageDrivers_box__HOb4n{
    background-color: white;
    width: 92%;
    height: 100%;
    border-radius: 30px;
}

.ManageDrivers_title__BB2ni{
    margin-left: 2rem;
    margin-top: 1.5rem;
    font-weight: bolder;
    font-size: 19px;
}
