/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/ManageStudents/ManageStudents.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.ManageStudents_container__Xri22{
    margin-top: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.ManageStudents_box__9odEJ{
    background-color: white;
    width: 92%;
    height: 100%;
    border-radius: 30px;
}

.ManageStudents_title__7zEwT{
    margin-left: 2rem;
    margin-top: 1.5rem;
    font-weight: bolder;
    font-size: 19px;
}

.ManageStudents_titlebar__37iSt{
    display: flex;
    align-items: center;
    margin-bottom: -1rem;
}
