/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/SetRoutes/SetRoutes.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.SetRoutes_container__A317x{
    margin-top: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.SetRoutes_box__X2Uai{
    background-color: white;
    width: 92%;
    height: 100%;
    border-radius: 30px;
}

.SetRoutes_title__Yisva{
    margin-left: 2rem;
    margin-top: 1.5rem;
    font-weight: bolder;
    font-size: 19px;
}
